<section>
  <h2 class="text-3xl font-bold text-stone-800 sm:text-4xl text-center p-10">Nossos Presentes</h2>
  <div *ngFor="let gift of gifts" class="p-8">
    <div class="mx-auto max-w-2xl rounded-3xl bg-rose-50 p-6 text-center shadow-sm sm:p-10"
      aria-label="Cartão de presente de casamento">
      <p class="text-sm font-semibold uppercase tracking-widest text-rose-700">
        {{ gift.name }}
      </p>
      <img *ngIf="gift.image" [src]="gift.image" [alt]="gift.name" class="mx-auto mt-6 h-40 w-40 rounded-full object-cover sm:h-56 sm:w-56" />
      <img *ngIf="!gift.image" src="/src/assets/images/default-gift-image.jpg" alt="Imagem padrão de presente" class="mx-auto mt-6 h-40 w-40 rounded-full object-cover sm:h-56 sm:w-56" />

      <h2 class="mt-3 text-2xl font-bold text-stone-800 sm:text-4xl">
        {{ gift.description }}
      </h2>

      <p *ngIf="gift.value !== null; else valorPendente" class="mt-3 text-stone-600">
        Valor total: {{ gift.value | currency:'BRL' }}
      </p>

      <ng-template #valorPendente>
        <p class="mt-3 text-stone-600">Valor a definir</p>
      </ng-template>

      <a *ngIf="gift.value !== null && gift.link" [href]="gift.link" target="_blank" rel="noopener noreferrer"
        class="mt-8 inline-block rounded-lg bg-rose-700 px-5 py-3 text-sm font-semibold text-white shadow-sm hover:bg-rose-800 focus:outline-none focus:ring focus:ring-offset-2 focus:ring-offset-white focus:ring-rose-700 sm:text-base">
        Comprar
      </a>
    </div>
  </div>
</section>