
/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fortawesome/fontawesome-free/css/all.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
html {
  scroll-behavior: smooth;
}

body {
  @apply bg-ivory font-sans text-stone-800;
}

::selection {
  background-color: #f2cdd6;
  color: #55122a;
}
}